<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mm.planzajec">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBlue">
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".PlanItemOptionsActivity"
            android:noHistory="true" />
        <activity
            android:name=".AlarmActivityLesson"
            android:theme="@style/AlertTheme" />
        <activity android:name=".AddEditExamActivity" />
        <activity
            android:name=".AlarmActivityExam"
            android:theme="@style/AlertTheme" />
        <activity
            android:name=".AddEditNoteActivity"
            android:parentActivityName=".NotesActivity" />
        <activity android:name=".NotesActivity" />
        <activity android:name=".ExamsActivity" />
        <activity android:name=".ChangeScheduleActivity" />
        <activity android:name=".FirstStartActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiverExam" />
        <receiver android:name=".AlarmReceiverLesson" />
    </application>

</manifest>